:root {
  --atsBlue: #2f2e41;
  --atsFillColor: #eee;
  --atsGreen: "#92D050";
  --atsLightBlue: "#5D6D7E";
  --borderColor: "#6c6c6c";
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Ubuntu";
  transition: 0.5s;
  width: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

section {
  margin: 0 2rem;
  text-align: center;
  color: var(--atsBlue);
}
/* spacing */
.m-1{
  margin:1rem !important;
}
.mt-1{
  margin-top: 1rem !important;
}

/* conatainers */
.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  place-content: center;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar styling */
header {
  position: sticky;
  top: 0;

  box-shadow: 0px 1px 10px #999;
  z-index: 99;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu li {
  display: inline;
  margin: 1rem;
}
.menu li a {
  text-decoration: none;
  color: #18122b;
}
.logo {
  width: 50px;
  height: 50px;
}

.navbar-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  align-items: center;
}

.navbar-container ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container ul li a {
  color: var(--atsBlue);
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
  width: 100%;
  background-color: var(--atsBlue);
}

.navbar-container ul li:hover .underline {
  background-color: #92d050;
  width: 100%;
}

.navbar-container ul li:hover a {
  color: #92d050;
}

.navbar-container ul li:active a {
  transition: none;
  color: black(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}
.btn_signup1 {
  width: 8rem;
  font-size: 0.9rem;
  height: 2.5rem;
  background-color: var(--atsBlue);
  border: none;
  border-radius: 0.2em;
  color: white;
  transition: 0.2s ease-in-out;
}

.btn_signup2 {
  width: 8rem;
  height: 2.5rem;
  border: 2px solid var(--atsBlue);
  font-size: 0.9rem;
  background-color: white;
  border-radius: 0.2em;
  color: var(--atsBlue);
  transition: 0.2s ease-in-out;
}
.btn_signup1:hover {
  cursor: pointer;
  background-color: #92d050;
  color: #eee;
}
.btn_signup2:hover {
  background-color: #92d050;
  color: #eee;
  cursor: pointer;
  border: 2px solid #92d050;
}

.vertical-line {
  transform: rotate(90deg);
  background: rgb(173, 173, 173);
  height: 1px;
  width: 40px;
  border: none;
}
/* hero section */
.hero-container {
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0;
}

.hero-btn-container {
  grid-template-columns: 8rem 8rem;
  grid-gap: 1rem;
  justify-content: left;
  margin: 2rem 0;
}

.left-container {
  text-align: left;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  word-spacing: 9px;
}
.hero-desc {
  color: #677294;
  line-height: 25px;
}
.right-container .hero-banner {
  width: 400px;
  height: 350px;
  object-fit: cover;
}

/* section pricing */

.pricing-hero-heading {
  margin: 0;

  color: #424242;
  font-size: 50px;

  font-weight: 700;
}
.small-pricing-heading {
  margin: 2rem;
  color: #000;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -1px;
}
.pricing-hero-text {
  font-size: 18px;
  line-height: 160%;
}
.pricing-hero-text a {
  color: #92d050;
}
.pricing-hero-text a:hover {
  color: var(--atsBlue);
}
.light-text {
  color: #6c6c6c;
  font-size: 12px;
  margin: 0;
}
.pricing-table-item {
  display: block;
  overflow: hidden;
  background-color: #f1f3f6;
  padding: 32px 26px;
}

.pricing-table-plan-text1 {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--atsBlue);
  font-size: 22px;
  font-weight: 700;
}
.pricing-card-text {
  color: #677294;
  margin: 0.7rem 0;
}

.plan-features {
  text-align: left;
  color: #677294;
  margin: 0.7rem 1rem;
}

.pricing-cost {
  margin: 1rem 0;
}
.pricing-cost-text-span {
  color: #0d0e10;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
}
.pricing-table-button1 {
  width: 13rem;
  font-size: 0.9rem;
  height: 2.5rem;
  background-color: var(--atsBlue);
  border: none;
  border-radius: 0.2em;
  color: white;
  transition: 0.2s ease-in-out;
}
.pricing-table-button1:hover {
  cursor: pointer;
  background-color: #92d050;
}
.pricing-table-container {
  place-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 2rem;
}
.pricing-card {
  justify-content: center;
  background-color: #f1f3f6;
  border-radius: 0.8em;
  padding: 2rem;
  text-align: center;
}

.horizontal-line {
  max-width: 100%;
}
.feature-container {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
}

.feature-content > ul {
  text-align: start;
  margin: 0.7rem 0;
}
.feature-content > h2 {
  text-align: start;
  font-size: 36px;

  margin: 1rem 0;
}
.feature-content > ul > li {
  margin: 0.5rem 0;
  color: rgb(59, 59, 59);
}
.aboutus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
.aboutus-container > h1 {
  font-size: 36px;
  margin: 2rem 0;
}
.aboutus-container > p {
  max-width: 400px;
}


/*footer*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer .footer-container {
  background-color: var(--atsBlue);
}
.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}
.footer-col ul {
  list-style: none;
}
.footer-col h4 {
  color: #eee;
  margin-bottom: 25px;
  font-size: 22px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: #92d050;
  bottom: -10px;
}
.footer-col ul li {
  padding: 10px 0;
}
.footer-col ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;

  transition: 0.5s;
}
.footer-col ul li a:hover {
  opacity: 1;
}
.footer-col form input {
  border: none;
  width: 250px;
  height: 45px;
  display: block;
  padding-left: 20px;
  margin: 14px 0;
}
.footer-col .input-submit {
  padding: 0px 20px;
  background-color: #92d050;
  border: none;
  color: var(--atsBlue);
}
.col p {
  color: white;
}
.footer-row hr {
  opacity: 0.7;
}
.footer-row .social-Icons i {
  display: inline-block;
  color: #92d050;
  font-size: 20px;
  margin: 0 15px;
  transition: 0.5s;
}

.footer-row .social-Icons i:hover {
  color: white;
}
@media (max-width: 600px) {
  footer .footer-row {
    flex-direction: column;
    padding: 20px 30px;
  }
  footer .footer-col ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .footer-col input {
    width: 100%;
  }
}