:root {
  --atsBlue: #2f2e41;
  --atsFillColor: #eee;
  --atsGreen: "#92D050";
  --atsLightBlue: "#5D6D7E";
  --borderColor: "#6c6c6c";
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Ubuntu";
  transition: 0.5s;
  width: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.ttf");
}
/* conatainers */
.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  place-content: center;
}

/* navbar styling */
header {
  position: sticky;
  top: 0;

  box-shadow: 0px 1px 10px #999;
  z-index: 99;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu li {
  display: inline;
  margin: 1rem;
}
.menu li a {
  text-decoration: none;
  color: #18122b;
}
.logo {
  width: 50px;
  height: 50px;
}
section {
  height: 150vh;
  text-align: center;
  color: var(--atsBlue);
}

.navbar-container ul {
  margin: 0;
  padding: 0;
  text-align: right;

  align-items: center;
}

.navbar-container ul li {
  display: inline-block;
  font-size: 16px;
}

.navbar-container ul li a {
  color: var(--atsBlue);
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
  width: 100%;
  background-color: var(--atsBlue);
}

.navbar-container ul li:hover .underline {
  background-color: #92d050;
  width: 100%;
}

.navbar-container ul li:hover a {
  color: #92d050;
}

.navbar-container ul li:active a {
  transition: none;
  color: black(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}
.btn_signup1 {
  width: 8rem;
  font-size: 0.9rem;
  height: 2.5rem;
  background-color: var(--atsBlue);
  border: none;
  border-radius: 0.2em;
  color: white;
  transition: 0.2s ease-in-out;
}

.btn_signup2 {
  width: 8rem;
  height: 2.5rem;
  border: 2px solid var(--atsBlue);
  font-size: 0.9rem;
  background-color: white;
  border-radius: 0.2em;
  color: var(--atsBlue);
  transition: 0.2s ease-in-out;
}
.btn_signup1:hover {
  cursor: pointer;
  background-color: #92d050;
  color: #eee;
}
.btn_signup2:hover {
  background-color: #92d050;
  color: #eee;
  cursor: pointer;
  border: 2px solid #92d050;
}

.vertical-line {
  transform: rotate(90deg);
  background: rgb(173, 173, 173);
  height: 1px;
  width: 40px;
  border: none;
}
/* hero section */
.hero-container {
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
}
.hero-btn-container {
  grid-template-columns: 8rem 8rem;
  grid-gap: 1rem;
  justify-content: left;
}

.left-container {
  text-align: left;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  word-spacing: 9px;
}
.hero-desc {
  color: #677294;
  line-height: 25px;
}
.right-container .hero-banner {
  width: 400px;
  height: 350px;
  object-fit: cover;
}
/* section pricing */

.pricing-hero-heading {
  margin: 0;
  margin-bottom: 16px;
  color: var(--atsBlue);
  font-size: 50px;
  line-height: 106%;
  font-weight: 700;
  letter-spacing: -1.2px;
  word-spacing: 6gopx;
  
}
.pricing-hero-text {
  font-size: 18px;
  line-height: 160%;
}
.pricing-hero-text a {
  color: #92d050;
}
.pricing-hero-text a:hover {
  color: var(--atsBlue);
}
.pricing-switch-text {
  word-spacing: 8px;
  font-size: 18px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--atsBlue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--atsBlue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--atsBlue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.pricing-table-item{
    display: block;
    overflow: hidden;
    background-color: #F1F3F6;
    padding: 32px 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.pricing-table-plan-text1 {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--atsBlue);
  font-size: 22px;
  line-height: 144%;
  font-weight: 700;
}
.pricing-table-plan-text2 {
  color: #677294;
}
.pricing-cost-text-span {
  margin-right: 4px;
  font-family: Montserrat, sans-serif;
  color: #0d0e10;
  font-size: 36px;
  line-height: 112%;
  font-weight: 700;
  letter-spacing: -1px;
}
.pricing-table-button1 {
  width: 13rem;
  font-size: 0.9rem;
  height: 2.5rem;
  background-color: var(--atsBlue);
  border: none;
  border-radius: 0.2em;
  color: white;
  transition: 0.2s ease-in-out;
}
.pricing-table-button1:hover{
  background-color: #92d050;
  
}
.pricing-table-container{
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
  }
.pricing-table-left{
  justify-content: center;
  background-color: #F1F3F6;
  border-radius:0.8em;
  padding: 1px 125px;
  text-align: left;
}
.pricing-table-right{
  justify-content: center;
  background-color: #F1F3F6;
  border-radius:0.8em;
  margin-left: 2px;
  padding: 1px 125px;
  text-align: left;
}
.horizontal-line{
  max-width: 100%;
}
